body {
  padding-top: 50px;
/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  padding-bottom: 40px;
  background-color:#fff;
}
h3.box{
  text-align: left;
  border-bottom: solid 1px #cdcdcd;
  padding: 10px;
   
}

.main-container {
  margin-top: 20px;
}