<div class="routeAnimate">
	<h6 class='text-success pull-right'>Logado como {{usuario.nome}}. <a href="#" class="link">Sair</a></h6><br/>
	<table class="table table-hover table-bordered table-condensed">
		<tr>
			<td class="text-center"><h3>Usuários conectados</h3></td>
		</tr>
		<tr ng-hide="list.length" class="itemUser">
			<td>
				<h5 class="text-center text-warning"><< Nenhum Usuário >></h5>
			</td>
		</tr>
		<tr ng-repeat="user in list" class="itemUser">
			<td ng-mouseover="hoverUser(user)" ng-mouseleave="hoverUser()" ng-class="{success: hoveredUser == user}">
				<h5 class="pull-left">{{ user }}</h5> 
				<button class="btn btn-info pull-right" ng-click="call(user)">
					<span class="glyphicon glyphicon-earphone"></span> Ligar
				</button>
			</td>
		</tr>
	</table>
</div>