<!--<h2>Chamada em andamento com {{vm.socketId}}</h2>
<h6 class="text-danger">{{vm.errorMessage}}</h6>
<video id='video1' width="" height="" controls autoplay>  
</video>
<audio id='audio1' controls autoplay>  
</audio>-->

<legend class='text-center'><h1>Chamando CTI</h1></legend>
<div class="text-center">
	<a class="btn btn-primary">Ativar o Som</a>
	<a class="btn btn-primary">Ativar Camera</a>
	<a class="btn btn-primary">Enviar Tela</a>
	
	<div class="list-group" style="margin-top:20px;">
		<a class="list-group-item">
		<p class="list-group-item-text text-right"><span class="label label-info">Você :</span> Donec id elit non mi porta gravida at eget metus.</p>
		</a>
		<a class="list-group-item">
		<p class="list-group-item-text text-left"><span class="label label-warning">CTI :</span> Não é esse o problema.</p>
		</a>
		<a class="list-group-item">
		<p class="list-group-item-text text-right"><span class="label label-info">Você :</span> Você pode vir me ajudar?</p>
		</a>
		<a class="list-group-item">
		<p class="list-group-item-text text-left"><span class="label label-warning">CTI :</span> Já pagou a taxa?.</p>
		</a>
		
	</div>
	
	<form class="form-horizontal" style="margin-top:20px;">
	<div class="form-group">
		<div class="col-lg-10">
		<textarea ng-model="" class="form-control" rows="3" id="textArea"></textarea>
		<span class="help-block">Mande sua mensagem.</span>
		</div>
	</div>
	
	<div class="form-group text-center">
		<div class="col-lg-10 col-lg-offset-2">
			<a ng-click="" class="btn btn-primary">Enviar</a>
		</div>
	</div>
	</form>
</div>