.itemUser.ng-enter {
	-webkit-animation: bounceIn 1s;
	-moz-animation: bounceIn 1s;
	-o-animation: bounceIn 1s;
	animation: bounceIn 1s;
}

.itemUser.ng-leave {
	-webkit-animation: fadeOut 1s;
	-moz-animation: fadeOut 1s;
	-o-animation: fadeOut 1s;
	animation: fadeOut 1s;
}

.routeAnimate.ng-enter {
	-webkit-animation: fadeInUp 1s;
	-moz-animation: fadeInUp 1s;
	-o-animation: fadeInUp 1s;
	animation: fadeInUp 1s;
}

.routeAnimate.ng-leave {
	-webkit-animation: fadeOutDown 1s;
	-moz-animation: fadeOutDown 1s;
	-o-animation: fadeOutDown 1s;
	animation: fadeOutDown 1s;
}