<!DOCTYPE html>
<html lang="pt-br" ng-app="WebRTC-NG">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebRTC-NG - Modulo de Suporte</title>
    <script src="js/app.js"></script>
    <script src="lib/getScreenId.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="IndexController as vm">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Suporte WebRTC - id: {{vm.socketId}}</a>                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li ng-if="vm.tipo == 'usuario'">
                        <a ui-sref="solicitar-suporte">Solicitar assistência</a>
                    </li>
                    <li ng-if="vm.tipo == 'tecnico'">
                        <a ui-sref="historico">Histórico de chamados</a>
                    </li>
                    <li ng-if="vm.tipo == 'tecnico'">
                        <a ui-sref="lista-espera">Lista de solicitações</a>
                    </li>
                    <li>
                        <a href="#">Ajuda</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container main-container">
        <div class="row">
            <!-- Begin - Duvidas Frequentes -->
            <div class="col-md-6">
                <legend class='text-center'><h1>Dúvidas Frequentes</h1></legend>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Como usar o Datashow</h3>
                    </div>
                    <div class="panel-body">
                        <ol>
                            <li>Verifique se o estabilizador está ligado, ele também alimenta a energia do DataShow.</li>
                            <li>Utilize o controle remoto para ligar o equipamento.</li>
                            <li>Pressione o botão do Windows juntamente com a letra "P".</li>
                            <li>Selecione um dos modos de operação.</li>
                        </ol>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Como usar iTalc</h3>
                    </div>
                    <div class="panel-body">
                        <ol>
                            <li>Clique no ícone do iTalc em sua área de trabalho.</li>
                            <li>Caso ele solicite a senha, entre com seu usuário e senha do Câmpus.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- End - Duvidas Frequentes -->
            
            <div class="col-md-6">
                <div ui-view></div>
            </div>
            
        </div>

    </div>
    <!-- /.container -->
</body>

</html>
