<form class="form-horizontal" style="margin-top:20px;">
  <fieldset>
    <legend class='text-center'><h1>Quem é Você?</h1></legend>
    
    <div class="form-group">
      <label for="inputUsuario" class="col-lg-2 control-label">Nome:</label>
      <div class="col-lg-10">
        <input ng-model="vm.usuario" type="text" class="form-control" id="inputUsuario" placeholder="Digite seu nome">
      </div>
    </div>
        
    <div class="form-group">
      <label for="inputSenha" class="col-lg-2 control-label">E-Mail:</label>
      <div class="col-lg-10">
        <input ng-model="vm.email" type="password" class="form-control" id="inputSenha" placeholder="E-Mail">
      </div>
    </div>

    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Problema:</label>
      <div class="col-lg-10">
        <textarea ng-model="vm.descricao" class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">Descreva em poucas palavras o problema que está enfrentando, para podermos melhor ajudar.</span>
      </div>
    </div>
    
    <div class="form-group text-center">
      <div class="col-lg-10 col-lg-offset-2">
    <a ng-click="vm.solicitarSuporte()" class="btn btn-primary btn-lg">Solicitar Assistência</a>
      </div>
    </div>
  </fieldset>
</form>