
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
        <legend class='text-center'><h1>Ainda Precisa de Ajuda?</h1></legend>    
        <form class="form-signin">  
        <a class="btn btn-lg btn-primary btn-block" ng-click="vm.entrarUsuario()">Fale com a CTI</a>  
        
        <!--<a class="btn btn-lg btn-primary btn-block" ng-click="loginTecnico = !loginTecnico">Entrar como técnico</a>
        <div id="login-tecnico" ng-if="loginTecnico">
 
	        <label for="inputUsuario" class="sr-only">Usuário</label>
	        <input ng-model="vm.usuario" type="text" id="inputUsuario" class="form-control" placeholder="Usuário" required autofocus>
	        <label for="inputSenha" class="sr-only">Senha</label>
	        <input ng-model="vm.senha" type="password" id="inputSenha" class="form-control" placeholder="Senha" required> 
          <p ng-if="vm.loginMsg" class="text-danger clearfix">{{vm.loginMsg}}</p>
          <button type="submit" class="btn btn-primary pull-right" ng-click="vm.login()">Entrar</a>          
        </div>-->