
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">

      
      <h2 class="form-signin-heading text-center">Sistema de assistência técnica</h2>       
        <form class="form-signin">  
        <a class="btn btn-lg btn-primary btn-block" ng-click="vm.entrarUsuario()">Entrar como usuário</a>  
        <a class="btn btn-lg btn-primary btn-block" ng-click="loginTecnico = !loginTecnico">Entrar como técnico</a>
        <div id="login-tecnico" ng-if="loginTecnico">
 
	        <label for="inputUsuario" class="sr-only">Usuário</label>
	        <input ng-model="vm.usuario" type="text" id="inputUsuario" class="form-control" placeholder="Usuário" required autofocus>
	        <label for="inputSenha" class="sr-only">Senha</label>
	        <input ng-model="vm.senha" type="password" id="inputSenha" class="form-control" placeholder="Senha" required> 
          <p ng-if="vm.loginMsg" class="text-danger clearfix">{{vm.loginMsg}}</p>
          <button type="submit" class="btn btn-primary pull-right" ng-click="vm.login()">Entrar</a>          
        </div>
        <form class="form-signin">  	                      

