<div class="row">
	<h2 class="text-center">Lista de usuários esperando atendimento</h2>
	<div ng-if="vm.lista.length == 0" class="alert alert-dismissible alert-info">
		<strong>Nenhum usuário esperando atendimento! :)</strong>
	</div>
	<ul>
		<li ng-repeat="item in vm.lista" style="list-style:none;">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Solicitante: {{item.nome}}
						<span class="pull-right">Solicitação feita em {{vm.formatDate(item.date)}}</span>
					</h3>
				</div>
				<div class="panel-body">
					{{item.descricao}}
					<span class="col-md-2 pull-right">
						<button class="btn btn-block btn-primary" ng-click="vm.atenderChamado(item)">Atender</button>
					</span>
				</div>
			</div>
		</li>
	</ul>
</div>