<div class="text-center">

	<link rel="stylesheet" href="/css/loader.css">
	<div class="text-center" ng-show="!vm.pcIsConnected">
		<legend class='text-center'><h1>Conectando com o usuário ...</h1></legend>
		<div class="loader"></div>
	</div>
		
	<div class="text-center" ng-show="vm.pcIsConnected">
				
		<legend class='text-center'><h1>Chamada com {{vm.chamadoAtendido.nome}}</h1></legend>
		<h6 class="text-danger">{{vm.errorMessage}}</h6>
		<div class="row"><a ng-click="vm.upgradeCallAddAudio()" class="btn btn-primary">Iniciar chamada por audio</a></div>
		<div class="row" ng-if="vm.hasVideo"><video id='video1' width="320" height="180" controls autoplay></div>  
		</video>
	
		<div class="list-group" style="margin-top:20px;">
			<a ng-repeat="msg in vm.chatMessages" class="list-group-item">
			<p class="list-group-item-text text-left">
				<span ng-if="msg.received" class="label label-info">Usuário:</span> 
				<span ng-if="!msg.received" class="label label-warning">Você:</span>
				{{msg.message}}
			</p>
			</a>		
		</div>
		<!-- Chat box  -->
		<form class="form-horizontal" style="margin-top:20px;">
			<div class="form-group">
				<h3 class="box">Chat <small>| converse por texto</small></h3>
				<textarea ng-model="vm.textToSend" ng-keypress="vm.chatEnter($event)" class="form-control" rows="2" id="textArea"></textarea>
				<span class="help-block">Mande sua mensagem.</span>
			</div>
			<div class="form-group text-center">
				<a ng-disabled="!vm.chatOpen" ng-click="vm.sendMessage()" class="btn btn-primary">Enviar</a>
			</div>
		</form>
		<!-- Fim Chat box  -->
	</div>
</div>	